{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block extra_head %}
<style>
input, textarea {
  width: auto; 
}
</style>

<script>
// ensure that form is submitted at most once
(function () {
    var allowSubmit = true;
    $('#credform').onsubmit = function () {
       if (allowSubmit)
           allowSubmit = false;
       else 
           return false;
    }
})();
</script>

{% endblock %}


{% block content %}

<div class="alert alert-info">
  <b>Tip:</b> Create new access keys from the <b><a href="https://console.aws.amazon.com/iam/home?#security_credential">AWS Console</a></b>. 
  <a class="btn btn-info btn-mini pull-right" href="https://image-web-cloud-tools.readthedocs.org/en/latest/how_to_get_aws_access_key.html" target="_blank">Show me how &raquo;</a> 
</div>

Please provide your root AWS Access Key.
 
<form id="credform" action="/setup_credentials/" method="post">{% csrf_token %}
{{ form | as_bootstrap }}
<input type="submit" value="Submit" />
</form>

<div class="alert alert-default">
  <b>Note:</b> Your root key is never stored, but used just once to create an IAM user as described in the <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html">AWS identity best practices</a>.  
</div>

<script>    
  $('#credform').submit(function() {
    ShowWaitDialog();
    return true;
  });      
</script>

{% endblock %}



